tensorflow
scikit-learn
opencv-python
numpy
matplotlib
seaborn
pandas
scikit-image
plotly
flask
pillow
werkzeug
Flask
Jinja2
Werkzeug
itsdangerous
click
torch
torchvision
Pillow
flask_sqlalchemy
Flask-WTF
WTForms